@{
    var filteredMovies = ViewBag.FilteredMovies as List<MovieModel>;
}
@{
    ViewData["Title"] = "Movies";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-6 mb-5">
            <a class="text-white" asp-controller="HomeMovie" asp-action="Movies">
                <h4>
                    <i class="bi bi-arrow-left"></i>
                </h4>
            </a>
        </div>

        <div class="col-6 text-end mb-5">
            <a class="text-white" asp-controller="HomeMovie" asp-action="Movies">
                <h4>
                    <i class="bi bi-x-lg"></i>
                </h4>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    @if (filteredMovies != null && filteredMovies.Any())
    {
        <div class="owl-carousel owl-theme">
            @foreach (MovieModel movie in filteredMovies)
            {
                <div class="item">
                    <div class="card bg-black" onclick="incrementViews(@movie.MovieID)">
                        <a class="text-decoration-none" asp-controller="HomeMovie" asp-action="SelectedMovie" asp-route-MovieID="@movie.MovieID">
                            <img height="250" src="~/assets/img/movie_img/@movie.MovieImage" />
                            <h3 class="text-danger text-center mt-2">@movie.MovieName</h3>
                            <h4 class="text-secondary text-center mt-1">
                                <span>@movie.MovieCategory .</span>
                                <span>@movie.MovieLanguage</span>
                            </h4>
                            <h4 class="text-secondary text-center">@movie.MovieType</h4>
                        </a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center text-white">
            <h3>No Results Found</h3>
        </div>
    }
</div>



<!--Javascript Jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--Owl Carousel min.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--Owl Carousel init-->
<script>
    $('.owl-carousel').owlCarousel({
        loop: false,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>

<script>
    function incrementViews(MovieID) {
        $.ajax({
            url: `https://localhost:44301/api/Movie/IncrementViews/${MovieID}`,
            method: "POST",
            success: function (response) {
                console.log(response.message);
            },
            error: function (xhr) {
                console.error("Failed to increment views:", xhr.responseText);
            }
        });
    }
</script>